@import "tailwindcss";

@theme {
    --color-cream-bg: #F7F4F0;
    --color-text-charcoal: #2A2A2A;
    --color-accent-soft: #E0D8D0;

    --font-serif: Merriweather, serif;
    --font-sans: Inter, sans-serif;
}

:root {
    font-family: var(--font-sans);
    background-color: var(--color-cream-bg);
    color: var(--color-text-charcoal);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}